
/*START EmailEntryForm CSS*/
* { 
    padding:0;
    margin:0;
}
 
/*body {
    font-size:18px;
    font-family: 'Cinzel', serif;   
}*/

.emailSignupHeader {
	background: white;
	color: black;
    padding: 15px;
}

.emailSignupHeader img#banner {
    height: auto;
    width: 100%;
    border-bottom: 1px solid white;
    padding: 10px;
}

#banner_container {
    color: white;
}

#banner_container, #services_container {
    /*background: url(../images/sneakersopac.png) repeat fixed;*/
    background: black;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    display: table;
    height: 150px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#services {
    background: white;
    color: black;
}

#services .col-sm-4 img {
    max-height: 130px;
    width: auto;
    max-width: 100%;
}

.col-sm-12 img {
    width: 100%;
}

img#logoType {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.banner h2 {
    margin-bottom: 20px;
}

img.medals {
    height: 20px;
    width: 20px; 
    margin: 5px;
}

.emailSignupForm {
	background: white;
	color: black;
}

.text-vcenter {
	display: block;
}

fieldset {
    font-family: 'Open Sans', sans-serif;
    border:none;
    font-size: 17px;  
    text-align: center;   
    background: white;
    padding: 15px 15px;
}
 
form {
    width:90%;
    margin:5% auto;    
    padding:10px;
    border:solid 10px white;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 1);
}
 
input {
    border:none;
    background-color:none;  
}

#newsletter-signup label {
	font-family: 'Open Sans', serif
}

#signup-email {
    border:1px solid #999999;
    color:#9E9E9E;
    padding:5px;
    width: auto;
    min-width: 150px;   
}
 
#signup-email:focus {
    border-color:#9FCBFF;
    background-color:#DFEEFF;
    background-image:none;
    color:#000;
}
 
#signup-button {
    background-color:#000;
    color:#fff;
    padding:15px; 
    margin: 5px;
}
 
#signup-button:hover {
    cursor:pointer;
    background-color:#E55741;
}
 
#signup-response {
    display:inline;
    margin-left:4px;
    padding-left:20px;
}
 
.response-waiting {
    background:url(../images/loading.gif) left top no-repeat;
    height: 20px;
    width: 20px;
    background-size: contain;
}
 
.response-success {
   background:url(../images/tick.png) left top no-repeat;
   height: 20px;
   width: 20px;
   background-size: contain;
}
 
.response-error {
   background:url(../images/cross.png) left top no-repeat;
   height: 20px;
   width: 20px;
   background-size: contain;   
}
/*END EmailEntryForm CSS*/