                                                                                                                                /* general styles */
/*START Index CSS*/
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
}

.glyphicon {
  margin: 10px;
  vertical-align: middle;
}

hr {
  border-top: 5px solid #000;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

/* padded section */
.pad-section {
  padding: 25px;
  display: inline-block;
}
.pad-section img {
  width: 100%;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 3.0em;
  font-weight: 700;
  margin: 0;
  padding: 0;
  /*text-shadow: 0px 1px 15px #fff;*/
}

h3 {
    /*text-shadow: 0px 1px 15px #fff;*/
}

.text-vcenter.services {
  display: block;
}

/* additional sections */
#home {
  background: url(../images/galaxyopac.png) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
}

#services {
  background-color: #000000;
  color: #ffffff;
}
#services .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#information {
  /*Background Images s/b 2000px wide x 800-1100px*/
  background: url(../images/sneakersopac.png) repeat fixed;
  background-repeat:repeat-x;
  background-repeat:repeat-y;
  display: table;
  height: 650px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#information .panel {
  opacity: 0.85;
}

#buyNow {
  height: 20px;
  width: 100%;
}

#ourGuarantee {
  background: black;
  color: white;
}

#PageContent img {
  height: 250px;
}

.stripe_btns, .paypal_btns, .btc_btns {
  text-align: center;
}

.btc_btns {
  padding-left: 20px;
}

ul li {
  text-align: center;

}

.correspondence {
  text-align: center;
}

footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}

@media only screen and (min-width : 320px) and (max-width : 568px)  {
  .col-xs-6 {
    width: 100%;
  }
}
/*END Index CSS*/


/*START EmailEntryForm CSS*/
* { 
    padding:0;
    margin:0;
}
 
/*body {
    font-size:18px;
    font-family: 'Cinzel', serif;   
}*/

#home.emailSignup {
  padding: 15px;
}

fieldset {
    font-family: 'Open Sans', serif;
    border:none;
    font-size: 17px;  
    text-align: center;   
    background: white;
    padding: 15px;
}
 
form {
    width:50%;
    margin:5% auto;    
    padding:10px;
    border:solid 10px black;
}
 
input {
    border:none;
    background-color:none;  
}
 
#signup-email {
    border:1px solid #999999;
    color:#9E9E9E;
    padding:5px;
    width: 150px;
}
 
#signup-email:focus {
    border-color:#9FCBFF;
    background-color:#DFEEFF;
    background-image:none;
    color:#000;
}
 
#signup-button {
    background-color:#000;
    color:#FFF;
    padding:5px; 
}
 
#signup-button:hover {
    cursor:pointer;
    background-color:#551A8B;
}
 
#signup-response {
    display:inline;
    margin-left:4px;
    padding-left:20px;
}
 
.response-waiting {
    background:url(../images/loading.gif) left top no-repeat;
    height: 20px;
    width: 20px;
    background-size: contain;
}
 
.response-success {
   background:url(../images/tick.png) left top no-repeat;
   height: 20px;
   width: 20px;
   background-size: contain;
}
 
.response-error {
   background:url(../images/cross.png) left top no-repeat;
   height: 20px;
   width: 20px;
   background-size: contain;   
}
/*END EmailEntryForm CSS*/