/* general styles */
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Cinzel', serif;
}

p {
  color: #8d8d8d;
  font-family: 'Marcellus', serif;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* additional sections */
#home {
  background: url(../images/galaxyopac.png) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
}

#services {
  background-color: #000000;
  color: #ffffff;
}
#services .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#information {
  /*Background Images s/b 2000px wide x 800-1100px*/
  background: url(../images/sneakersopac.png) repeat fixed;
  background-repeat:repeat-x;
  background-repeat:repeat-y;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#information .panel {
  opacity: 0.85;
}

#buyNow {
  height: 20px;
  width: 100%;
}

#theFinePrint {
  background: black;
  color: white;
}

.stripe_btns, .paypal_btns, .btc_btns {
  text-align: center;
}

.btc_btns {
  padding-left: 20px;
}

ul li {
  text-align: left;

}

footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}

@media only screen and (min-width : 320px) and (max-width : 568px)  {
  .col-xs-6 {
    width: 100%;
  }
}